fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
pydantic
python-dotenv
python-multipart
pypdf
langchain-text-splitters
chromadb 
langchain-chroma
langchain-openai
alembic 
psycopg2-binary
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
pyjwt
fastapi-mail
supabase